@model WebApp.Models.Translation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Translation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TranslatedText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TranslatedText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.translated_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.translated_at)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="History">Back to List</a>
</div>
