@model IEnumerable<WebApp.Models.Translation>

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

<p>
    <a asp-action="Index">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OriginalText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranslatedText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.translated_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranslatedText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.translated_at)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
    }
    </tbody>
</table>

