@model WebApp.Models.CreateTranslationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Translation</h4>
<hr />
<form asp-action="Create">

    <div class="row my-4">
        <div class="col-md-6">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label>
                Translate from:
            </label>
            <select id="languageFromDropdown" asp-for="LanguageFrom">
                @foreach (var language in Model.Languages)
                {
                    <option value="@language.ID">@language.Name</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="Translation.OriginalText" class="control-label">Original</label>
                <textarea asp-for="Translation.OriginalText" class="form-control" style="height: auto; min-height: 250px; overflow-y: auto;"></textarea>
                <span asp-validation-for="Translation.OriginalText" class="text-danger"></span>
            </div>
        </div>

          
        <div class="col-md-6">
            <label>
                Translate into:
            </label>
            <select id="languageToDropdown" asp-for="LanguageTo">
                @foreach (var language in Model.Languages)
                {
                    <option value="@language.ID">@language.Name</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="Translation.TranslatedText" class="control-label">Translation</label>
                <div asp-for="Translation.TranslatedText" class="form-control"  style="height: auto; min-height: 250px; overflow-y: auto;" readonly>
                    @Model.Translation.TranslatedText
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Translate" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
